@layer base {
  :is(.font-regular, [class^='font-regular-'], [class*=' font-regular-']) {
    @apply font-normal leading-[1.5];
  }

  :is(.font-bold, [class^='font-bold-'], [class*=' font-bold-']) {
    @apply font-bold leading-[1.5];
  }

  :is(.font-heading, [class^='font-heading-'], [class*=' font-heading-']) {
    @apply font-semibold leading-[1.4] tracking-[-0.01em];
  }

  :is(.font-regular-8, .font-bold-8, .font-heading-8) {
    @apply text-[8px];
  }

  :is(.font-regular-10, .font-bold-10, .font-heading-10) {
    @apply text-[10px];
  }

  :is(.font-regular-12, .font-bold-12, .font-heading-12) {
    @apply text-[12px];
  }

  :is(.font-regular-14, .font-bold-14, .font-heading-14) {
    @apply text-[14px];
  }

  :is(.font-regular-16, .font-bold-16, .font-heading-16) {
    @apply text-[16px];
  }

  :is(.font-regular-18, .font-bold-18, .font-heading-18) {
    @apply text-[18px];
  }

  :is(.font-regular-20, .font-bold-20, .font-heading-20) {
    @apply text-[20px];
  }

  :is(.font-regular-22, .font-bold-22, .font-heading-22) {
    @apply text-[22px];
  }

  :is(.font-regular-24, .font-bold-24, .font-heading-24) {
    @apply text-[24px];
  }

  :is(.font-regular-26, .font-bold-26, .font-heading-26) {
    @apply text-[26px];
  }

  :is(.font-regular-28, .font-bold-28, .font-heading-28) {
    @apply text-[28px];
  }

  :is(.font-regular-30, .font-bold-30, .font-heading-30) {
    @apply text-[30px];
  }

  :is(.font-regular-32, .font-bold-32, .font-heading-32) {
    @apply text-[32px];
  }

  :is(.font-regular-48, .font-bold-48, .font-heading-48) {
    @apply text-[48px];
  }

  :is(.font-regular-56, .font-bold-56, .font-heading-56) {
    @apply text-[56px];
  }
}
